<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerHeight</key>
		<string>10</string>
		<key>groupTitle</key>
		<string>我的订单</string>
		<key>itemList</key>
		<array>
			<dict>
				<key>cellIdentifier</key>
				<string>UserCenter</string>
				<key>cellClass</key>
				<string>UserCenterCell</string>
				<key>cellHeight</key>
				<integer>44</integer>
				<key>keyForCell</key>
				<string>waitPayment</string>
				<key>cellInfo</key>
				<dict>
					<key>normalBg</key>
					<string></string>
					<key>activeBg</key>
					<string></string>
					<key>normalIcon</key>
					<string>ico_wait_payment</string>
					<key>activeIcon</key>
					<string></string>
					<key>cellTitle</key>
					<string>待付款订单</string>
					<key>isNew</key>
					<false/>
					<key>subTitle</key>
					<string></string>
					<key>disable</key>
					<false/>
				</dict>
				<key>pushClass</key>
				<string>OrderOtherViewController</string>
				<key>pushData</key>
				<dict>
					<key>webUrl</key>
					<string>order_payment.html</string>
					<key>navTitle</key>
					<string>待付款订单</string>
					<key>vcId</key>
					<string>0</string>
				</dict>
			</dict>
			<dict>
				<key>cellIdentifier</key>
				<string>UserCenter</string>
				<key>cellClass</key>
				<string>UserCenterCell</string>
				<key>cellHeight</key>
				<integer>44</integer>
				<key>keyForCell</key>
				<string>waitDeliver</string>
				<key>cellInfo</key>
				<dict>
					<key>normalBg</key>
					<string></string>
					<key>activeBg</key>
					<string></string>
					<key>normalIcon</key>
					<string>ico_wait_deliver</string>
					<key>activeIcon</key>
					<string></string>
					<key>cellTitle</key>
					<string>待发货订单</string>
					<key>isNew</key>
					<false/>
					<key>subTitle</key>
					<string></string>
					<key>disable</key>
					<false/>
				</dict>
				<key>pushClass</key>
				<string>OrderOtherViewController</string>
				<key>pushData</key>
				<dict>
					<key>webUrl</key>
					<string>order_delivery.html</string>
					<key>navTitle</key>
					<string>待发货订单</string>
					<key>vcId</key>
					<string>1</string>
				</dict>
			</dict>
			<dict>
				<key>cellIdentifier</key>
				<string>UserCenter</string>
				<key>cellClass</key>
				<string>UserCenterCell</string>
				<key>cellHeight</key>
				<integer>44</integer>
				<key>keyForCell</key>
				<string>waitReceipt</string>
				<key>cellInfo</key>
				<dict>
					<key>normalBg</key>
					<string></string>
					<key>activeBg</key>
					<string></string>
					<key>normalIcon</key>
					<string>ico_wait_receipt</string>
					<key>activeIcon</key>
					<string></string>
					<key>cellTitle</key>
					<string>待收货订单</string>
					<key>isNew</key>
					<false/>
					<key>subTitle</key>
					<string></string>
					<key>disable</key>
					<false/>
				</dict>
				<key>pushClass</key>
				<string>OrderOtherViewController</string>
				<key>pushData</key>
				<dict>
					<key>webUrl</key>
					<string>order_receipt.html</string>
					<key>navTitle</key>
					<string>待收货订单</string>
					<key>vcId</key>
					<string>2</string>
				</dict>
			</dict>
			<dict>
				<key>cellIdentifier</key>
				<string>UserCenter</string>
				<key>cellClass</key>
				<string>UserCenterCell</string>
				<key>cellHeight</key>
				<integer>44</integer>
				<key>keyForCell</key>
				<string>waitComment</string>
				<key>cellInfo</key>
				<dict>
					<key>normalBg</key>
					<string></string>
					<key>activeBg</key>
					<string></string>
					<key>normalIcon</key>
					<string>ico_wait_comment</string>
					<key>activeIcon</key>
					<string></string>
					<key>cellTitle</key>
					<string>待评价商品</string>
					<key>isNew</key>
					<false/>
					<key>subTitle</key>
					<string></string>
					<key>disable</key>
					<false/>
				</dict>
				<key>pushClass</key>
				<string>ProductUncommentViewController</string>
				<key>pushData</key>
				<dict>
					<key>webUrl</key>
					<string>order_evaluation.html</string>
					<key>navTitle</key>
					<string>待评价商品</string>
					<key>vcId</key>
					<string>3</string>
				</dict>
			</dict>
			<dict>
				<key>cellIdentifier</key>
				<string>UserCenter</string>
				<key>cellClass</key>
				<string>UserCenterCell</string>
				<key>cellHeight</key>
				<integer>44</integer>
				<key>keyForCell</key>
				<string>waitAllOrder</string>
				<key>cellInfo</key>
				<dict>
					<key>normalBg</key>
					<string></string>
					<key>activeBg</key>
					<string></string>
					<key>normalIcon</key>
					<string>ico_all_order</string>
					<key>activeIcon</key>
					<string></string>
					<key>cellTitle</key>
					<string>全部订单</string>
					<key>isNew</key>
					<false/>
					<key>subTitle</key>
					<string></string>
					<key>disable</key>
					<false/>
				</dict>
				<key>pushClass</key>
				<string>OrderAllViewController</string>
				<key>pushData</key>
				<dict>
					<key>webUrl</key>
					<string>order_all.html</string>
					<key>navTitle</key>
					<string>全部订单</string>
					<key>vcId</key>
					<string>4</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerHeight</key>
		<string>10</string>
		<key>groupTitle</key>
		<string>我的收藏</string>
		<key>itemList</key>
		<array>
			<dict>
				<key>cellIdentifier</key>
				<string>UserCenter</string>
				<key>cellClass</key>
				<string>UserCenterCell</string>
				<key>cellHeight</key>
				<integer>44</integer>
				<key>keyForCell</key>
				<string>myFavorite</string>
				<key>cellInfo</key>
				<dict>
					<key>normalBg</key>
					<string></string>
					<key>activeBg</key>
					<string></string>
					<key>normalIcon</key>
					<string>ico_my_favorite</string>
					<key>activeIcon</key>
					<string></string>
					<key>cellTitle</key>
					<string>我的收藏</string>
					<key>isNew</key>
					<false/>
					<key>subTitle</key>
					<string></string>
					<key>disable</key>
					<false/>
				</dict>
				<key>pushClass</key>
				<string>WebViewController</string>
				<key>pushData</key>
				<dict>
					<key>webUrl</key>
					<string>favorites.html</string>
					<key>navTitle</key>
					<string>我的收藏</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerHeight</key>
		<string>10</string>
		<key>groupTitle</key>
		<string>修改密码</string>
		<key>itemList</key>
		<array>
			<dict>
				<key>cellIdentifier</key>
				<string>UserCenter</string>
				<key>cellClass</key>
				<string>UserCenterCell</string>
				<key>cellHeight</key>
				<integer>44</integer>
				<key>keyForCell</key>
				<string>changPassword</string>
				<key>cellInfo</key>
				<dict>
					<key>normalBg</key>
					<string></string>
					<key>activeBg</key>
					<string></string>
					<key>normalIcon</key>
					<string>ico_change_password</string>
					<key>activeIcon</key>
					<string></string>
					<key>cellTitle</key>
					<string>修改密码</string>
					<key>isNew</key>
					<false/>
					<key>subTitle</key>
					<string></string>
					<key>disable</key>
					<false/>
				</dict>
				<key>pushClass</key>
				<string>ChangePwdViewController</string>
				<key>pushData</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
