<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerHeight</key>
		<string>10</string>
		<key>groupTitle</key>
		<string>地址管理</string>
		<key>itemList</key>
		<array>
			<dict>
				<key>cellIdentifier</key>
				<string>Setting</string>
				<key>cellClass</key>
				<string>SettingCell</string>
				<key>cellHeight</key>
				<integer>44</integer>
				<key>keyForCell</key>
				<string>addrManager</string>
				<key>cellInfo</key>
				<dict>
					<key>normalBg</key>
					<string></string>
					<key>activeBg</key>
					<string></string>
					<key>normalIcon</key>
					<string></string>
					<key>activeIcon</key>
					<string></string>
					<key>cellTitle</key>
					<string>收货地址管理</string>
					<key>isNew</key>
					<false/>
					<key>subTitle</key>
					<string></string>
					<key>disable</key>
					<false/>
				</dict>
				<key>pushClass</key>
				<string>AddrListViewController</string>
				<key>pushData</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerHeight</key>
		<string>10</string>
		<key>groupTitle</key>
		<string>修改密码</string>
		<key>itemList</key>
		<array>
			<dict>
				<key>cellIdentifier</key>
				<string>Setting</string>
				<key>cellClass</key>
				<string>SettingCell</string>
				<key>cellHeight</key>
				<integer>44</integer>
				<key>keyForCell</key>
				<string>changPassword</string>
				<key>cellInfo</key>
				<dict>
					<key>normalBg</key>
					<string></string>
					<key>activeBg</key>
					<string></string>
					<key>normalIcon</key>
					<string>ico_change_password</string>
					<key>activeIcon</key>
					<string></string>
					<key>cellTitle</key>
					<string>修改密码</string>
					<key>isNew</key>
					<false/>
					<key>subTitle</key>
					<string></string>
					<key>disable</key>
					<false/>
				</dict>
				<key>pushClass</key>
				<string>ChangePwdViewController</string>
				<key>pushData</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerHeight</key>
		<string>10</string>
		<key>groupTitle</key>
		<string>图片显示</string>
		<key>itemList</key>
		<array>
			<dict>
				<key>cellIdentifier</key>
				<string>SettingBtn</string>
				<key>cellClass</key>
				<string>SettingBtnCell</string>
				<key>cellHeight</key>
				<integer>44</integer>
				<key>keyForCell</key>
				<string>clearCache</string>
				<key>cellInfo</key>
				<dict>
					<key>normalBg</key>
					<string></string>
					<key>activeBg</key>
					<string></string>
					<key>normalIcon</key>
					<string></string>
					<key>activeIcon</key>
					<string></string>
					<key>cellTitle</key>
					<string>清除缓存</string>
					<key>isNew</key>
					<false/>
					<key>subTitle</key>
					<string></string>
					<key>disable</key>
					<false/>
				</dict>
				<key>pushClass</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
